#contact{
    height: calc(100vh);
    background-color: var(--black);
    display: grid;
    grid-template-columns: 50% 50%;
}

.contact__foto{
    background: url('../img/giphy.gif') center / cover no-repeat;
}

.contact__info{
    padding: 7em 8em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 50%;
    font-family: var(--secondary-font);
    font-weight: 700;
}

.contact__tittle{
    font-size: 30px;
    color: var(--light-blue);
    padding-bottom: 0.5em;
    border-bottom: solid 1px white;
}

.contact__tittle:nth-child(3){
    margin-bottom: 0.5em;
}

.contact__text{
    margin-top: 1em;
}

.linkedin::before{
    content: url('../img/icone-linkedin_resized.png');
    margin-right: 7px;
}

.phone::before{
    content: url('../img/telefone-logo-pardini-rel-gios-25_resized.png');
    margin-right: 5px;
}

.email::before{
    content: url('../img/email_cropped_resized.png');
    margin-right: 7px;
}