#experience{
    height: calc(100vh);
    background-image: url('../img/bg-3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7em;
    gap: 20px;
}

.experience__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
    width: 40%;
}

.experience__tittle{
    font-size: 25px;
    color: var(--light-blue);
    font-weight: 700;
}

.experience__text--text{
    font-size: 22px;
    font-weight: 700;
}

.experience__projects{
    width: 100%;
    display: flex;
    gap: 10px;
}

.experience__images{
    width: 250px;
    border-radius: 10px;
    display: block;
}

.challenge{
    display: flex;
    flex-direction: column;
}

.view-all{
    align-self: flex-end;
    font-size: 16px;
    margin-top: 2.5em;
    color: var(--light-blue);
}

.view-all::after{
    content: url('../img/seta-direita.png');
}

.experience-card{
    height: 350px;
    width: 250px;
    background-color: rgb(0, 74, 173, 0.4);
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card__tittle{
    font-size: 25px;
    font-weight: 700;
    margin-top: 0.5em;
}

.card__text{
    width: 90%;
    font-size: 18px;
    margin: 1em 0;
    height: 55px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons button{
    padding: 0.5em 1em;
    border: solid 1px var(--white);
    border-radius: 10px;
    font-size: 18px;
}

.buttons button:hover{
    background-color: rgb(0, 74, 173, 0.7);
    transition: 0.5s all;
}

.tecnologies{
    margin-bottom: 1em;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 1400px){
    .experience-card{
        width: 200px;
        height: 300px;
    }

    .experience__images{
        width: 200px;
    }

    .card__text{
        font-size: 16px;
        width: 100%;
    }

    .card__tittle{
        font-size: 20px;
    }

    .view-all{
        margin-top: 2em;
    }

    .experience__tittle{
        font-size: 22px;
    }
    .experience__text--text{
        font-size: 20px;
    }

    .experience__text{
        height: 50%;
    }
}

@media screen and (max-width: 1170px){
    .experience-card:nth-child(2){
        display: none;
    }

    .experience-card{
        width: 230px;
        height: 330px;
    }

    .experience__images{
        width: 230px;
    }

    .card__text{
        font-size: 16px;
        width: 100%;
    }

    .card__tittle{
        font-size: 20px;
    }

    .view-all{
        margin-top: 2.7em;
    }

    .experience__tittle{
        font-size: 20px;
    }
    .experience__text--text{
        font-size: 18px;
    }

    .experience__text{
        height: 360px;
    }
}