#welcome{
    height: calc(100vh);
    background-image: url(../img/bg-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome__text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    font-weight: 700;
}

.dots{
    font-size: 40px;
    animation: bounceInDown;
    animation-duration: 1s;
}

.welcome__subtittle{
    font-size: 40px;
    color: var(--light-blue);
    text-transform: uppercase;
    margin-top: 0.7em;
    animation: bounceInDown;
    animation-duration: 1s;
}

.welcome__tittle{
    font-size: 67px;
    color: var(--light-blue);
    text-transform: uppercase;
    font-family: var(--secondary-font);
    font-weight: 800;
    animation: bounceInDown;
    animation-duration: 1s;
}

.welcome__subtittle2{
    font-size: 45px;
    margin-bottom: 0.7em;
    animation: bounceInDown;
    animation-duration: 1s;
}

.button__link{
    font-size: 16px;
    padding: 0.5em 1.5em;
    border: solid 1px transparent;
    border-radius: 18px;
    background-color: var(--main-blue);
    animation: bounceInDown;
    animation-duration: 1s;
}

.button__link:hover{
    border: solid 1px var(--main-blue);
    background-color: transparent;
    color: var(--main-blue);    
}

.welcome__img{
    height: 750px;
    align-self: flex-end;
    animation: fadeInRight;
    animation-duration: 1s;
}

#img-mobile{
    display: none;
}

.img-skillsMobile{
    display: none;
}

#download{
    margin-left: 1em;
    font-size: 12px;
    border: solid 1px white;
    padding: 0.5em;
    border-radius: 16px;
}

#download:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.5s all;
}

@media screen and (max-width: 1400px){
    .welcome__subtittle{
        font-size: 30px;
    }

    .welcome__tittle{
        font-size: 50px;
    }

    .welcome__subtittle2{
        font-size: 34px;
    }

    .welcome__img{
        height: 600px;
    }
}

@media screen and (max-width: 1130px){
    .welcome__subtittle{
        font-size: 24px;
    }

    .welcome__tittle{
        font-size: 40px;
    }

    .welcome__subtittle2{
        font-size: 27px;
    }

    .button__link{
        font-size: 14px;
    }
}

@media screen and (max-width: 700px){
    .welcome__img{
        display: none;
    }

    #welcome{
        padding: 5em 2em;
        align-items: flex-start;
        flex-direction: column;
    }

    .welcome__text p{
        font-size: 40px;
    }

    .welcome__subtittle{
        font-size: 21px;
    }

    .welcome__subtittle2{
        font-size: 24px;
    }

    .welcome__tittle{
        font-size: 36px;
    }

    #img-mobile{
        display: block;
        align-self: center;
        transform: scale(1.2) rotate(-20deg);
        position: relative;
        left: 40px;
        bottom: 40px;
    }

    .img-skillsMobile{
        display: inline-block;
        transform: scale(0.8);
    }

    .skills-mobile{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}